<section class="container ">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                    <h3 class="box-title m-b-20">Sign In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type='email'  placeholder='email' formControlName='email' id='email' autofocus>
                            <p *ngIf=" camposNoValidos('email')"class=" text-danger">El email es obligatorio</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required placeholder="Password"  formControlName="password">
                            <p *ngIf=" camposNoValidos('password')"class=" text-danger">La contraseña es obligatoria</p>
                         </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-info pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue" formControlName="remember">
                                <label for="checkbox-signup"> Remember me </label>
                            </div> <a routerLink="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>


                   
                    <div class="form-group text-center">
                  
                        <div    >
                            <button id="buttonDiv" 
                            style=" border-radius: 100px; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer; margin: 10px 0px;
                            background-color: #ffffff; color: white;
                            "

                             type="submit">Log In</button>
                        </div> 
                    </div>
                   
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Don't have an account? <a routerLink="/register" class="text-info m-l-5"><b>Sign Up</b></a> 
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<br />