<div class="home-slider">
    <div class="home-slider--wrapper">
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider-6.jpg')">
                <div class="container">
                    <h3>Rizosfera Patagonia Argentina</h3>
                    
                    <h1>WELCOME TO RIZOSFERA</h1>
                    
                    <span class="dot-dash">.</span>
                   
                    <p>
                        Rizosfera es un Emprendimiento de la Patagonia Argentina, que se dedica a crear Arte y Diseño en forma de Indumentaria, Accesorios y Objetos de Decoración.
                    </p>
                    <div class="slider-buttons">
                        <a routerLink="/portfolio" class="button">Get Started Now</a>
                        <a routerLink="contact" class="button button-w">Contácto</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider-2.jpg')">
                <div class="container">
                    <h3>Rizosfera Patagonia Argentina</h3>
                    <h1>WELCOME TO RIZOSFERA</h1>
                    <span class="dot-dash">.</span>
                    <p>
                        Rizosfera es un Emprendimiento de la Patagonia Argentina, que se dedica a crear Arte y Diseño en forma de Indumentaria, Accesorios y Objetos de Decoración.
                    </p>
                    <div class="slider-buttons">
                        <a routerLink="/portfolio" class="button">Get Started Now</a>
                        <a routerLink="contact" class="button button-w">Contácto</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider-5.jpg')">
                <div class="container">
                    <h3>Rizosfera Patagonia Argentina</h3>
                    <h1>WELCOME TO RIZOSFERA</h1>
                    <span class="dot-dash">.</span>
                    <p>
                        Rizosfera es un Emprendimiento de la Patagonia Argentina, que se dedica a crear Arte y Diseño en forma de Indumentaria, Accesorios y Objetos de Decoración.
                    </p>
                    <div class="slider-buttons">
                        <a routerLink="/portfolio" class="button">Get Started Now</a>
                        <a routerLink="contact" class="button button-w">Contácto</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider-1.jpg')">
                <div class="container">
                    <h3>Rizosfera Patagonia Argentina</h3>
                    <h1>WELCOME TO RIZOSFERA</h1>
                    <span class="dot-dash">.</span>
                    <p>
                        Rizosfera es un Emprendimiento de la Patagonia Argentina, que se dedica a crear Arte y Diseño en forma de Indumentaria, Accesorios y Objetos de Decoración.
                    </p>
                    <div class="slider-buttons">
                        <a routerLink="/portfolio" class="button">Get Started Now</a>
                        <a routerLink="contact" class="button button-w">Contácto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-slider--nav">
        <div class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
    <div class="home-slider--anchor">
        
    </div>
  </div>
