<div class="home-slider">
    <div class="home-slider--wrapper">
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/flying a.png')">
                <div class="container">
                    <h3>Apiario Dos Reinas</h3>
                 
                    <h1>MIEL DOS REINAS</h1>
                    
                    <span class="dot-dash">.</span>
                   
                    <p>
                        La miel es un alimento natural, que se obtiene de la recolección del néctar de las flores por parte de las abejas, y que ha sido consumido por el ser humano desde tiempos remotos. La miel es un alimento muy nutritivo y energético, que contiene azúcares, vitaminas, minerales, enzimas, aminoácidos, etc., y que tiene propiedades medicinales, antisépticas, antibióticas, etc.
                    </p>
                   
                </div>
            </div>
        </div>
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/scene, .webp')">
                <div class="container">
                    <h3>Apiario Dos Reinas</h3>
                    <h1>MIEL DOS REINAS</h1>
                    <span class="dot-dash">.</span>
                    <p>
                        Rizosfera es un Emprendimiento de la Patagonia Argentina, que se dedica a crear Arte y Diseño en forma de Indumentaria, Accesorios y Objetos de Decoración.
                    </p>
                  
                </div>
            </div>
        </div>
     

        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/panoramic.png' )"
            width="100%" height="70%">
        

                <div class="container">
                    <h3>Apiario Patagonia Argentina</h3>
                    <h1>APICULTURA</h1>
                    <span class="dot-dash">.</span>
                    <p>
                        La apicultura es la ciencia, arte y técnica de criar abejas con el fin de obtener productos como la miel, la cera, el polen, la jalea real y el propóleo, y para prestar servicios como la polinización de cultivos y la producción de reinas y abejas para la venta.
                         La apicultura es una actividad que se ha practicado desde tiempos remotos, y que ha sido de gran importancia para el ser humano, ya que la miel es un alimento muy nutritivo y energético, y la cera ha sido utilizada para la fabricación de velas, cosméticos, medicamentos, etc. Además, las abejas son fundamentales para la polinización de las plantas, y por tanto, para la producción de frutas y semillas.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="home-slider--nav">
        <div class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
   
  </div>
