<section class="partners">
    <div class="container">
        <h2>Nuestras Categorias</h2>
        <p>Conoce nuestras categorias en las que puedes encontrar los mejores productos</p>
        <span class="dot-dash dark">.</span>


        <div class="partners--container" >
            <div class="partners--item" *ngFor="let categoria of categorias" >
                <div class="partners--item__image">
                   
                    <img [src]="categoria.img | imagen: 'categorias'" alt="" 
                    width="70%" height="110%" />  
                    
                </div>
            </div>
          
       

        </div>
    </div>
</section>

