<section class="case-study">
    <div class="container">
        <h2>Rizosfera</h2>
        <p>Desde Villa Llanquín es una pequeña localidad del Departamento Pilcaniyeu,Río Negro, Argentina</p>
        <span class="dot-dash dark">.</span>
    </div>
    <div class="container">
        <div class="case-study--sliders">
            <div class="case-study--left">
                <div class="case-study--left__textslider">
                    <div>
                        <div class="case-study--left__textslider__image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                        <h4>RIZOSFERA creative ideas</h4>
                        <p> ARTESANIA ES EL RESULTADO DE LA CREATIVIDAD Y LA IMAGINACION, PLASMADO EN UN PRODUCTO EN CUYA ELABORACION SE HAN TRANSFORMADO RACIONALMENTE LOS MATERIALES DE ORIGEN NATURAL, GENERALMENTE CON PROCESOS MANUALES.
                            LOS OBJETOS ARTESANALES VAN CARGADOS DE UN ALTO VALOR CULTURAL Y SON PIEZAS UNICAS Y CADA UNO DEPENDE DE SU MATERIA PRIMA UTILIZADA POR EL ARTESANO.</p>
                        <a routerLink="/productos" class="button small">Ver Galeria</a>
                    </div>
                
                </div>
                <div class="case-study--left__dots"></div> 
            </div>
            <div class="case-study--right">
                <div class="case-study--right__imageslider">
                    <div>
                        <img src="assets/img/slider-4.jpg" alt="" />
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>