<section class="case-study">
    <div class="container">
        <h2>Rizosfera</h2>
        <p>Desde Villa Llanquín es una pequeña localidad del Departamento Pilcaniyeu,Río Negro, Argentina</p>
        <span class="dot-dash dark">.</span>
    </div>
    <div class="container">
        <div class="case-study--sliders">
            <div class="case-study--left">
                <div class="case-study--left__textslider">
                    <div>
                        <div class="case-study--left__textslider__image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                        <h4>Accumulate creative ideas</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button small">Ver Galeria</a>
                    </div>
                
                </div>
                <div class="case-study--left__dots"></div> 
            </div>
            <div class="case-study--right">
                <div class="case-study--right__imageslider">
                    <div>
                        <img src="assets/img/slider-4.jpg" alt="" />
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>