<div class="container">  
    <form id="contact" action="" autocomplete="off" [formGroup]="prodtcForm"  (ngSubmit)="guardar()">
      <h3>Crear comentario para un post</h3>
      <h4>Complete el formulario para crear un nuevo articulo</h4>
  
  
      <fieldset>
        <input value={{article}} hidden
         type="text" tabindex="1" required autofocus  formControlName="article">
        <p class=" text-danger" *ngIf="prodtcForm.controls['article'].invalid && prodtcForm.controls['article'].touched">
          El titulo es obligatorio</p>
      </fieldset>
  
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="5" required formControlName="content"></textarea>
        <p class=" text-danger" *ngIf="prodtcForm.controls['content'].invalid && prodtcForm.controls['content'].touched">
          El contenido es obligatorio</p>
      </fieldset>
  
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
  
  
  
    </form>
  </div>