<section class="statistics">
    <div class="container">
        <div class="statistics--item">
            <div class="statistics--item__image"><i class="fa fa-heart-o"></i></div>
            <h3 class="odometer first">0</h3>
            <h5>User Favourites</h5>
        </div>
        <div class="statistics--item">
            <div class="statistics--item__image"><i class="fa fa-tag"></i></div>
            <h3 class="odometer second">0</h3>
            <h5>User Favourites</h5>
        </div>
        <div class="statistics--item">
            <div class="statistics--item__image"><i class="fa fa-thumbs-o-up"></i></div>
            <h3 class="odometer third">0</h3>
            <h5>User Favourites</h5>
        </div>
        <div class="statistics--item">
            <div class="statistics--item__image"><i class="fa fa-star-o"></i></div>
            <h3 class="odometer fourth">0</h3>
            <h5>User Favourites</h5>
        </div>
        <div class="statistics--item">
            <div class="statistics--item__image"><i class="fa fa-paperclip"></i></div>
            <h3 class="odometer fifth">0</h3>
            <h5>User Favourites</h5>
        </div>
    </div>
</section>
