<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/img/miel1.jpg" alt="" 
                style="width: 100%; height: auto;"
                />
            </div>
            <div class="col-md-7">
                <h2>DOS REINAS</h2>
                <h3>De aqui proviene la miel de estepa Patagónica</h3>
                <p>Estamos comprometidos en producir miel de excepcional calidad, que se cosecha siempre de forma sostenible, nunca se mezcla ni se filtra en exceso. Miel Dos Reina es Miel pura , 100% natural</p>
               
                <a
                    class="btn btn-primary"
                    href="https://instagram.com/rizosfera.com.ar?igshid=MzRlODBiNWFlZA=="
                    target="_blank"
                    >Te espero en mi instagram</a >
            </div>
        </div>
    </div>
</section>