<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/img/about-2.jpg" alt="" 
                style="width: 100%; height: auto;"
                />
            </div>
            <div class="col-md-7">
                <h2>Our History</h2>
                <p>RIZOSFERA ES VIDA BAJO EL SUELO EN LAS RAICES DE LOS VEGETALES POR ESO CADA OBJETO CONTIENE UN PEDACITO DE VIDA, DE ENERGIA DE LA MADRE TIERRA..</p>
                <p> ARTESANIA ES EL RESULTADO DE LA CREATIVIDAD Y LA IMAGINACION, PLASMADO EN UN PRODUCTO EN CUYA ELABORACION SE HAN TRANSFORMADO RACIONALMENTE LOS MATERIALES DE ORIGEN NATURAL, GENERALMENTE CON PROCESOS MANUALES.</p>
                <p>LOS OBJETOS ARTESANALES VAN CARGADOS DE UN ALTO VALOR CULTURAL Y SON PIEZAS UNICAS Y CADA UNO DEPENDE DE SU MATERIA PRIMA UTILIZADA POR EL ARTESANO.</p>
                <p>ALGUNOS DE MIS MOMENTOS DE TRABAJO MAS FELICES SON CUANDO ESTOY CREANDO UN OBJETO PARA ALGUIEN, DONDE LO QUE ESTA A PUNTO DE MATERIALIZARSE  SE VA A UN LUGAR, A UN NUEVO HOGAR.</p>
                <p>LOS MATERIALES QUE VOY ENCONTRANDO EN MIS ANDARES DE ESTA HERMOSA PATAGONIA ME TRANSPORTAN A LA MAGIA, INSPIRACION, TEXTURAS Y SENTIR COMO SI HUBIERA APROVECHADO ALGO ESPECIAL QUE ME BRINDA LA MADRE TIERRA.
                    LA MADERA ES UNA SUSTANCIA DURA Y RESISTENTE QUE CONSTITUYE EL TRONCO DE LOS ARBOLES; SE HA UTILIZADO DURANTE MILES DE AÑOS COMO COMBUSTIBLE, MATERIA PRIMA PARA LA FABRICACION DE PAPEL, MOBILIARIO, CONSTRUCCION DE VIVIENDAS Y UNA GRAN VARIEDAD DE UTENSILLOS PARA DIVERSOS USOS.
                    CUERO Y SOGUERIA: LA SOGUERIA CUYA MATERIA PRIMA ES EL CUERO CRUDO, TUVO ORIGEN EN EL RIO DE LA PLATA, HACE APROXIMADAMENTE 4 SIGLOS. EN PRINCIPIO FUE UTILIZADO POR LOS HABITANTES ORIGINARIOS Y LUEGO EL GAUCHO. ES EL MAS AUTOCTONO ARTE ARGENTINO.
                    </p>
                <a href="#" class="button">Browse Our Work</a>
            </div>
        </div>
    </div>
</section>