

<div class="main-content">
    <div class="container">
        <div class="page-header">
            <h2>NUESTRAS ARTESANIAS</h2>
            <p>Conoce nuestras artesanias en las que puedes encontrar los mejores productos regionales</p>
           
            <span class="dot-dash dark">.</span> 
        </div>

        <div class="row">


                <div *ngIf="cargando"  role="alert" class="col-md-12 text-center">               
                <i class="fa fa-spinner fa-spin" style="font-size:34px "> </i><br/><span >Loading...</span>
               </div>

            <div *ngFor="let item of producto" class="col-md-3 animate__animated animate__fadeInUp "
            data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="portfolio-item">
                    <div class="portfolio-thumb " >

                        
                        <img class="our-blog--item__image " src="{{item.img}}" alt="portfolio img" *ngIf="item.img"  />
                        <span>Artesan@ / {{item.usuario.nombre}} </span>
                      
                        <div class="portfolio-overlay">                        
                          
                            <br/>
                            <h5>{{item.nombre}}</h5>
                            <p>{{item.descripcion}}</p>
                            <a *ngIf="item.usuario.telefono"
                            href="https://wa.me/{{item.usuario.telefono}}?text=Hola%20{{item.usuario.nombre}}%20me%20interesa%20el%20producto%20{{item.nombre}}%20de%20la%20categoria%20{{item.categoria.nombre}}%20que%20vi%20en%20la%20pagina%20de%20Rizosfera%20Patagonia" 
                          style="background-color: #25D366; color: white; padding: 6px; border-radius: 5px; margin-top: 10px; display: inline-block;
                            font-size: 12px; font-weight: bold; text-decoration: none; "
                            target="_blank"  >Consultar <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                           
                        </div>
                        <br/>
                    </div>                    
                </div>
            </div>


            <div class="col-12 text-center">
                <p>Mostrando {{desde}}  de {{totalRegistros}} registros</p>
                <button class="btn btn-info btn-sm"
                (click)="cambiarDesde( - 12  )">Anterior</button> &nbsp;
                <button class="btn btn-info btn-sm"
                (click)="cambiarDesde( + 12 )"
                >Siguiente</button>
            </div>
            <br />
        </div>  
        <br />
   
    </div> 
    <section class="get-started-1">
        <div class="container">
          <h2>Apiario Dos Reinas</h2>
          <p>Villa Llanquín, el encantador paraje!</p>
        </div>
    </section>

  </div>
        
        
   
      
  
    
    
    
    
    
    
  

 