

<div class="fondo-modal-imagen oculto animated fadeIn" [class.oculto]="modalImagenService._mostrarModal" >

<div 
  class="modal fade show"
  id="modalImagen"
  tabindex="-1"
  aria-labelledby="modalImagenLabel"
  aria-hidden="true"
  style="display: block; padding-right: 17px; background-color: rgba(0,0,0,0.5);" >

  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">

       <h3>seleecione imagen</h3>
       
       
      <br /> 
      <input type="file" (change)="cambiarImagen($event)" />
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
        (click)="ocultarModal()"
        >Close</button>
        <button type="button" class="btn btn-primary" (click)="subirImagen()">Save changes</button>
      </div>
    </div>
  </div>


</div>
