<app-headeradmin></app-headeradmin>

<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-info" style="font-size: 25px;">prducto:<span class="text-danger "  style="font-size: 25px;"></span> </h2>
                <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="prodtcForm"  (ngSubmit)="guardar()">

                    <h3 class="box-title m-b-20">Ingrese nombre</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="nombre" required autofocus  formControlName="nombre">
                            <p class=" text-danger" *ngIf="prodtcForm.controls['nombre'].invalid && prodtcForm.controls['nombre'].touched">   El nombre es obligatorio</p>      </div>
                    </div>

                    <h3 class="box-title m-b-20">Ingrese precio</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="number" placeholder="precio" required autofocus  formControlName="precio">
                            <p class=" text-danger"   *ngIf="prodtcForm.controls['precio'].invalid && prodtcForm.controls['precio'].touched">
                                El precio es obligatorio</p>
                        </div>
                    </div>

                    <h3 class="box-title m-b-20">Ingrese link de pago</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="lin de pago" required autofocus  formControlName="linkdepago">
                        </div>
                    </div>

                    <h3 class="box-title m-b-20">Ingrese descripcion</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="descripcion" required autofocus  formControlName="descripcion">
                            <p class=" text-danger"  *ngIf="prodtcForm.controls['descripcion'].invalid && prodtcForm.controls['descripcion'].touched">
                                La descripciones obligatorio</p>
                        </div>
                    </div>


                    <h3 class="box-title m-b-20">Ingrese categoria</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select class="form-control" required autofocus formControlName="categoria">
                                <option *ngFor="let item of categorias" [value]="item._id">{{item.nombre}}</option>
                            </select>
                            <p class=" text-danger"
                                *ngIf="prodtcForm.controls['categoria'].invalid && prodtcForm.controls['categoria'].touched">
                                La categoria es obligatorio</p>
                        </div>
                    </div>


                    <div class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button
                                class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                                type="submit">
                                <i class="fa fa-save"> </i> Actualizar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col">
                <h2 class="text-info" style="font-size: 25px;">categoria:<span class="text-danger "
                        style="font-size: 25px;"></span> </h2>

                <div class="col-md-3">
                    <h2>{{categoriaseleccionad?.nombre}}</h2>
                    <div *ngIf="categoriaseleccionad?.img">
                        <img [src]="categoriaseleccionad?.img | imagen: 'categorias'" alt=""   class="img-responsive cursor" style="width: 170px;" />

                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>


<br />