<section class="case-study">
    <div class="container">
        <h2>Case Study</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <span class="dot-dash dark">.</span>
    </div>
    <div class="container">
        <div class="case-study--sliders">
            <div class="case-study--left">
                <div class="case-study--left__textslider">
                    <div>
                        <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                        <h4>Accumulate creative ideas</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button small">Read More</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                        <h4>Accumulate creative ideas</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button small">Read More</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                        <h4>Accumulate creative ideas</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="#" class="button small">Read More</a>
                    </div>
                </div>
                <div class="case-study--left__dots"></div>
            </div>
            <div class="case-study--right">
                <div class="case-study--right__imageslider">
                    <div>
                        <img src="assets/img/case.jpg" alt="" />
                    </div>
                    <div>
                        <img src="assets/img/case.jpg" alt="" />
                    </div>
                    <div>
                        <img src="assets/img/case.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>