<section class="four-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <h3>Sleek Design</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <h3>Clean Code</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                <h3>Creative Ideas</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                <h3>Free Support</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
            </div>
        </div>
    </div>
</section>
