<section class="four-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo-1.jpg" alt="" /></i></div>
                <h3>Apicultura</h3>
                <p  >
                    La apicultura es la ciencia, arte y técnica de criar abejas con el fin de obtener productos como la miel, la cera, el polen, la jalea real y el propóleo, y para prestar servicios como la polinización de cultivos y la producción de reinas y abejas .
                     La apicultura es una actividad que se ha practicado desde tiempos remotos, y que ha sido de gran importancia para el ser humano, ya que la miel es un alimento muy nutritivo y energético, y la cera ha sido utilizada para la fabricación de velas, cosméticos, medicamentos, etc. Además, las abejas son fundamentales para la polinización de las plantas, y por tanto, para la producción de frutas y semillas.
                </p>
            </div>
            <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo-1-removebg.png" alt="" /></i></div>
                <h3>Cesteria</h3>
                <p>
                    La cestería es el arte de tejer fibras vegetales para formar cestos, canastos, capazos, etc. La cestería es una de las artesanías más antiguas que se conocen, y ha sido practicada por casi todas las culturas del mundo. Los cestos y canastos son recipientes muy útiles para transportar y almacenar alimentos, herramientas, ropa, etc., y han sido utilizados por el ser humano desde tiempos remotos. La cestería es una actividad que ha sido muy importante para el ser humano, ya que ha permitido la fabricación de recipientes para transportar y almacenar alimentos, herramientas, ropa, etc., y ha sido una de las primeras actividades artesanales que se han practicado.
                </p>
            </div> -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo-1-removebg.png" alt="" /></i></div>
                <h3>Arte en Pintura</h3>
                <p style=" text-transform : uppercase;">
                    La pintura es una de las artes plásticas más antiguas que se conocen, y ha sido practicada por casi todas las culturas del mundo. La pintura es el arte de pintar sobre una superficie, generalmente un lienzo, con colores obtenidos de pigmentos naturales o sintéticos, y con la ayuda de pinceles, espátulas, etc. La pintura es una actividad que ha sido muy importante para el ser humano, ya que ha permitido la expresión de ideas, sentimientos, emociones, etc., y ha sido una de las primeras actividades artísticas que se han practicado. La pintura es una actividad que ha sido muy importante para el ser humano, ya que ha permitido la expresión de ideas, sentimientos, emociones, etc., y ha sido una de las primeras actividades artísticas que se han practicado.
                </p>
            </div> -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo-1.jpg" alt="" /></i></div>
                <h3>Creative Ideas</h3>
                <p>
                    La creatividad es la capacidad de crear algo nuevo y valioso, ya sea un objeto, una obra de arte, una idea, un proyecto, etc.
                     La creatividad es una de las cualidades más importantes del ser humano, ya que nos permite imaginar, inventar, innovar, etc., y nos ayuda a resolver problemas, a adaptarnos a nuevas situaciones, a expresar nuestras ideas, sentimientos, emociones, etc. La creatividad es una cualidad que todos tenemos, y que podemos desarrollar a lo largo de nuestra vida, a través de la práctica, la experimentación, la observación, etc.
                     </p>
            </div>
        </div>
    </div>
</section>
