<section class="four-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                <h3>sogueria</h3>
                <p  style=" text-transform : uppercase;">La soguería cuya materia prima es el cuero crudo, a diferencia de la talabartería que trabaja con cuero curtido, tuvo origen en el Rio de la Plata, hace aproximadamente 4 siglos. En principio fue utilizado por los habitantes originarios y el gaucho.
                    Es el más autóctono arte argentino. Sus métodos fueron transmitidos en forma oral por los gauchos, quienes han legado  generación tras generación, la tradición de la manufactura en cuero crudo.
                    Esta creación rioplatense, tradicional y exclusiva, es reivindicada por los maestros  artesanos con cada una de las piezas que salen de sus manos.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                <h3>Rizosfera del suelo</h3>
                <p>RIZOSFERA ES VIDA BAJO EL SUELO EN LAS RAICES DE LOS VEGETALES POR ESO CADA OBJETO CONTIENE UN PEDACITO DE VIDA, DE ENERGIA DE LA MADRE TIERRA.</p>
                <p  style=" text-transform : uppercase;">La rizósfera, que es considerada como un componente importante de la planta holobionte. La rizósfera se ha considerado como una delgada zona de suelo influenciada por raíces vivas, donde sus exudados estimulan o inhiben las poblaciones microbianas y sus actividades.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                <h3>La madera</h3>
                <p style=" text-transform : uppercase;">La madera es un material natural, flexible y resistente con el que generan sus troncos los distintos tipos de árboles conocidos, creciendo año tras año mediante un sistema de capas concéntricas y circulares. De hecho, según su producción de madera en el tronco, se distingue a los árboles de las plantas herbáceas. </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="four-elements--image"><i aria-hidden="true"><img src="assets/img/logo1.png" alt="" /></i></div>
                <h3>Creative Ideas</h3>
                <p> ARTESANIA ES EL RESULTADO DE LA CREATIVIDAD Y LA IMAGINACION, PLASMADO EN UN PRODUCTO EN CUYA ELABORACION SE HAN TRANSFORMADO RACIONALMENTE LOS MATERIALES DE ORIGEN NATURAL, GENERALMENTE CON PROCESOS MANUALES.
                    LOS OBJETOS ARTESANALES VAN CARGADOS DE UN ALTO VALOR CULTURAL Y SON PIEZAS UNICAS Y CADA UNO DEPENDE DE SU MATERIA PRIMA UTILIZADA POR EL ARTESANO.
                    ALGUNOS DE MIS MOMENTOS DE TRABAJO MAS FELICES SON CUANDO ESTOY CREANDO UN OBJETO PARA ALGUIEN, DONDE LO QUE ESTA A PUNTO DE MATERIALIZARSE  SE VA A UN LUGAR, A UN NUEVO HOGAR.
                    </p>
            </div>
        </div>
    </div>
</section>
