
<app-headeradmin></app-headeradmin>

<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/img/logo1.png" alt="" class="img" />
            </div>
            <div class="col-md-7">
                <h2>ADMIN </h2>
                <p>RIZOSFERA ES VIDA BAJO EL SUELO EN LAS RAICES DE LOS VEGETALES POR ESO CADA OBJETO CONTIENE UN PEDACITO DE VIDA, DE ENERGIA DE LA MADRE TIERRA..</p>
                <p> ARTESANIA ES EL RESULTADO DE LA CREATIVIDAD Y LA IMAGINACION, PLASMADO EN UN PRODUCTO EN CUYA ELABORACION SE HAN TRANSFORMADO RACIONALMENTE LOS MATERIALES DE ORIGEN NATURAL, GENERALMENTE CON PROCESOS MANUALES.
                    LOS OBJETOS ARTESANALES VAN CARGADOS DE UN ALTO VALOR CULTURAL Y SON PIEZAS UNICAS Y CADA UNO DEPENDE DE SU MATERIA PRIMA UTILIZADA POR EL ARTESANO.</p>
                <a  [routerLink]="['/login']" (click)="logout()"  class="button">Logout</a>
            </div>
        </div>
    </div>
</section>

<br />