<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               
                    <li><a href="https://instagram.com/rizosfera.com.ar?igshid=MzRlODBiNWFlZA=="   target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>{{year}} <a href="#">Puentes Digitales</a>. All rights reserved.</p>
                <p><a href="https://www.puentesdigitales.com.ar/">www.puentesdigitales.com.ar Technologies</a></p>
            </div>
        </div>
    </div>
  </footer>
  
