

<section class="partners">
    <div class="container">
        <h2>Great Integrations with Others</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <span class="dot-dash dark">.</span>
        <div class="partners--container">
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="assets/img/partner1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
